build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
tsconfig.tsbuildinfo

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

.env.local
.env.production
.env.*
!.env.example

# clerk configuration (can include secrets)
/.clerk/

# internal project context (not tracked)
PROJECT_CONTEXT.md
